
  <div class="row my-4">
      <div class="col-md-12">
          <h1>List of users</h1>
      </div>
  </div>

  <div class="row mb-3">
      <div class="col-md-12">
          <input (keyup.enter)="searchUser()" [(ngModel)]="search" placeholder="Search ..." type="text" class="form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4" *ngFor="let user of users">
        <app-panel>
            <a [href]="user.html_url" class="btn btn-block btn-dark content">Leave to {{ user.login }}</a>
            <img [src]="user.avatar_url" class="card-img-top" alt="">
            <ng-container class="header">{{ user.login }}</ng-container>
        </app-panel>
      </div>
  </div>